<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
     <add key="SubscriptionKey" value="cd39fdf2bb304578bbf6e1316d638a16"/>
     <add key="FilePath" value="C:\projects\Hackathon\crmcognitive\R-scripts" />
     <add key="FileName" value="Data_Grouping.r" />
   </appSettings>
</configuration>